{
    "user_id": "test_user",
    "embedding_model": "anthropic/voyage-3.5-lite",
    "retriever_provider": "chroma",
    "router_model": "anthropic/claude-3-haiku-20240307",
    "rewrite_model": "anthropic/claude-3-haiku-20240307",
    "grade_documents_model": "anthropic/claude-3-haiku-20240307",
    "hallucination_grader_model": "anthropic/claude-3-haiku-20240307",
    "answer_grader_model": "anthropic/claude-3-haiku-20240307",
    "generate_model": "anthropic/claude-3-haiku-20240307"
}