{
    "user_id": "test_user",
    "embedding_model": "ollama/nomic-embed-text",
    "retriever_provider": "chroma",
    "router_model": "ollama/llama3.2:3b-instruct-fp16",
    "rewrite_model": "ollama/llama3.2:3b-instruct-fp16",
    "grade_documents_model": "ollama/llama3.2:3b-instruct-fp16",
    "hallucination_grader_model": "ollama/llama3.2:3b-instruct-fp16",
    "answer_grader_model": "ollama/llama3.2:3b-instruct-fp16",
    "generate_model": "ollama/llama3.2:3b-instruct-fp16"
}