{
    "user_id": "test_user",
    "embedding_model": "openai/text-embedding-ada-002",
    "retriever_provider": "chroma",
    "router_model": "openai/gpt-4.1-nano-2025-04-14",
    "rewrite_model": "openai/gpt-4.1-nano-2025-04-14",
    "grade_documents_model": "openai/gpt-4.1-nano-2025-04-14",
    "hallucination_grader_model": "openai/gpt-4.1-nano-2025-04-14",
    "answer_grader_model": "openai/gpt-4.1-nano-2025-04-14",
    "generate_model": "openai/gpt-4.1-nano-2025-04-14"
}